#greynavbar {
  background-color: #585858;
}
#boldtext {
	font-weight:bold;
	font-size:115%
}
#redtext {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #f06e4d;
}
* {
	font-family: entury Gothic,CenturyGothic,AppleGothic,sans-serif;
	}
#greynavbar {
  background-color: #585858;
}
.centered {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.greybox {
	background-color:#6a6a6a;
	text-align:center;
}