{% extends 'template.html.j2'%}
{%block content%}
<title>Login</title>
<body style="background-color:#6a6a6a;">
<div class="greybox">
<p>        <br> </p>
	<h1>{% block title %}<p><br> Log In </p>{% endblock %}</h1>
<p>        <br> <br> </p>
    <form method="post">
        <input type="text" name="email"
               placeholder="Email"
	       class="form-control mx-auto"
	       col="5"
	       style="width:700px;font-size:20pt;"
	       value="{{ request.form['email'] }}"></input>
        <br>

        <br>
        <input type="text" name="password"
               placeholder="Password"
	       class="form-control mx-auto"
	       col="5"
	       style="width:700px;font-size:20pt;"
	       value="{{ request.form['password'] }}"></input>
        <br>

        <br>
	<p> Don't have an account? create an account <a style="text-decoration:underline;" href="/createaccount"> here </a> </p>
<p>        <br>  </p>

        <button type="submit" class="btn btn-primary"style="height:80px; width:120px;">Log In</button>
	<p>      <br>   <br> </p>
 {% for error in errors %}
            <p id="redtext">{{ error }}</p>
        {% endfor %}
    </form>
</div>
</body>
{%endblock%}